html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}
/**Globales**/

a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
 
}

/** Header y Navegación **/




.nombre-sitio {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.contenedor-navegacion{


    border-top: 1px solid #e1e1e1;
}

.nombre-sitio span {
  color: #037bc0;
}

.nav-principal{
   
    padding: 20px 0px;
    
}

.hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}


/** Diferentes Estilos para escribir codigo css
Modulos, BEM, SMACSS **/

/** BOX MODEL **/

.sobre-nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
}

.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;
}

/** Displayu inline y block **/

p {
  background-color: red;
  width: 200px;
  height: 100px;
  display: inline-block;
}
